body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    width: 380px;
}

#progress .time,
.card-footer,
.volume-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.volume-container i {
    margin-right: 7px;
}

li.playing {
    background-color: #012965;
    color: #fff;
}

ul li {
    cursor: pointer;
}