.container {
    width: 320px;
}

#progress {
    margin-bottom: 20px;
}

#progress .time {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#progress-bar {
    width: 100%;
}

img {
    width: 100%;
}

#controls {
    font-size: 25px;
    color: blue;
    margin-right: 25px;
}